.profile-main-div
  .profile-naming-container
    .profile-naming-container-div1
      p HeaderName
  .profile-container
    .profile-container-div1
      p UserName
    .profile-container-div2
      img(class="profileImage" src='/labled-images/1.jpeg' height='50px' width='50px' alt='sangam sapkota')
