extends base
block content
      .profile-container-body
        .nav-bar-div
          ul(id='users')
        .facescan-vframe-activeUser(id='vframe') 
            video( id='video' width='1024' height='640' autoplay muted)
        script(src='/js/videosorce.js')
            
